p{
   text-align: center;
}

#outer{
    display: inline-block;
}

#inner{
    height: 25px;
    background-color: cornflowerblue;
    top: 275px;
    position: relative;
}


#square{
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 3px;
    
    
    
    
}

