<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>Alejo Tobar va a trabajar en Intango pronto </h1>
  <app-squares></app-squares>
  <p>My grade is {{x}}</p>
  <p>the date is {{theDate|date:'yyyy-mm-dd'}}</p>
  <input type="button" [value]="buttonVal" (click)="changeText()">
  <p></p>
  <button (click)=nameChange($event)>no joda</button>

  <table [style]="color">
    
  </table>
  
  
</body>
</html>